@font-face {
font-family: NeueHaas-Black;
src: url(css/fonts/NeueHaasDisplay-Black.ttf);
}

@font-face {
font-family: NeueHaas-BlackItalic;
src: url(css/fonts/NeueHaasDisplay-BlackItalic.ttf);
}

@font-face {
font-family: NeueHaas-BoldItalic;
src: url(css/fonts/NeueHaasDisplay-BoldItalic.ttf);
}

@font-face {
font-family: NeueHaas-Light;
src: url(css/fonts/NeueHaasDisplay-Light.ttf);
}

@font-face {
font-family: NeueHaas-LightItalic;
src: url(css/fonts/NeueHaasDisplay-LightItalic.ttf);
}

@font-face {
font-family: NeueHaas-Medium;
src: url(css/fonts/NeueHaasDisplay-Mediu.ttf);
}


@font-face {
font-family: NeueHaas-MediumItalic;
src: url(css/fonts/NeueHaasDisplay-MediumItalic.ttf);
}

@font-face {
font-family: NeueHaas-Roman;
src: url(css/fonts/NeueHaasDisplay-Roman.ttf);
}

@font-face {
font-family: NeueHaas-RomanItalic;
src: url(css/fonts/NeueHaasDisplay-RomanItalic.ttf);
}

@font-face {
font-family: NeueHaas-ThinItalic;
src: url(css/fonts/NeueHaasDisplay-ThinItalic.ttf);
}

body {
  margin: 0;
}

@keyframes souligne {
  from {background: linear-gradient(to top, rgba(255, 247, 74, 1) 0%, rgba(255, 247, 74, 1) 40%, transparent 40.01%) no-repeat left bottom / 0 100%;}
  to {background: linear-gradient(to top, rgba(255, 247, 74, 1) 0%, rgba(255, 247, 74, 1) 40%, transparent 40.01%) no-repeat left bottom / 100% 100%;}
}

.highlight {
  background: linear-gradient(to top, rgba(255, 138, 250, 1) 0%, rgba(255, 138, 250, 1) 40%, transparent 40.01%) no-repeat left bottom / 100% 100%;
}

@media screen and (max-width:750px) {
  .pourquoi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  .pourquoi-chopchop {
    margin: 0 !important;
  }
  .txt-pourquoi-chopchop {
    margin: 8vw !important;
    text-align:center;
  }
  .liste-savoir {
    font-size: 23px !important;
  }
  #ChopChoplogo {
    width: 75% !important;
  }
  #ChopChoplogo-fin {
    width: 30% !important;
  }
  .box-logos {
    flex-direction: column !important; 
  }
  .partner-logo {
    width: 20vh !important;
  }
  .confiance {
    height: 100vh;
  }
  #title-confiance {
    background: linear-gradient(to top, rgba(255, 138, 250, 1) 0%, rgba(255, 138, 250, 1) 40%, transparent 40.01%) no-repeat left bottom / 100% 40%;
  }
}

.header {
  background: #fefff4;
  font-family: NeueHaas-BoldItalic;
  font-size: 35px;
  color: black;
  height: 100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#ChopChoplogo {
  width: 40%;
}

.title {
  font-family: NeueHaas-BoldItalic;
  font-size: 45px;
  text-decoration: none;
  background: linear-gradient(to top, rgba(255, 138, 250, 1) 0%, rgba(255, 138, 250, 1) 40%, transparent 40.01%) no-repeat left bottom / 100% 100%;
}

.savoirfaire {
  background: black;
  color:#fefff4;
  padding: 60px 0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.liste-savoir {
  font-family: NeueHaas-Medium;
  font-size: 45px;
  text-align:center;
}

.liste-savoir p {
  margin:20px;
}

.liste-savoir p:hover {
  color: rgba(255, 138, 250, 1);
}

.pourquoi {
  background: #fefff4;
  color: black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.pourquoi-chopchop {
  font-family: NeueHaas-BoldItalic;
  margin: 0 7vw;
}

.pourquoi-chopchop h1 {
  font-family: NeueHaas-BoldItalic;
  font-size: 55px;
  text-decoration: none;
  background: linear-gradient(to top, rgba(255, 138, 250, 1) 0%, rgba(255, 138, 250, 1) 40%, transparent 40.01%) no-repeat left bottom / 100% 100%;
  margin: 0;
}

.pourquoi-chopchop h2 {
  font-family: NeueHaas-BoldItalic;
  font-size: 30px;
  text-decoration: none;
  margin:-16px;
  display:flex;
  align-items:center;
  justify-content: center;
}

.txt-pourquoi-chopchop {
  font-family: NeueHaas-Medium;
  font-size: 18px;
  margin: 7vw;
}

.pourquoi-box {
  padding: 40px 0;
  display:flex;
  flex-direction: column;
  justify-content:center;
}

#box-titre {
  font-family: NeueHaas-BoldItalic;
  font-size: 30px;
  margin: 0 7vw;
}

#box-p {
  font-family: NeueHaas-Medium;
  font-size: 18px;
  margin: 1vw 7vw;
}

#responsable {
  background: #fff74a;
}

#maieutique {
  background:rgba(255, 138, 250, 1);
}

#laser {
  background: #fff74a;
}

#greenwashing {
  background:rgba(255, 138, 250, 1);
}

.pourquoi-break {
  background: #fefff4;
  height: 20px;
}

.confiance {
  background: black;
  color: white;
  padding: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.partner-logo {
  filter: brightness(0) invert(1);
  width: 17vw;
  padding:40px;
  padding-top:0;
}

#title-confiance {
  text-align: center;
  margin-bottom: 80px;
}

#title-contact {
  margin-top: 70px;
}

.contact {
  background: #fefff4;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-links {
  padding: 40px;
  display: flex;
  flex-direction: column; 
}

.contact-type {
  font-family: NeueHaas-BoldItalic;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  padding: 20px;
}

.contact-type:hover {
  color: rgba(255, 138, 250, 1);
  font-size: 45px;
}

#ChopChoplogo-fin {
  width: 10%;
}
