@font-face {
font-family: NeueHaas-Black;
src: url(css/fonts/NeueHaasDisplay-Black.ttf);
}

@font-face {
font-family: NeueHaas-BlackItalic;
src: url(css/fonts/NeueHaasDisplay-BlackItalic.ttf);
}

@font-face {
font-family: NeueHaas-BoldItalic;
src: url(css/fonts/NeueHaasDisplay-BoldItalic.ttf);
}

@font-face {
font-family: NeueHaas-Light;
src: url(css/fonts/NeueHaasDisplay-Light.ttf);
}

@font-face {
font-family: NeueHaas-LightItalic;
src: url(css/fonts/NeueHaasDisplay-LightItalic.ttf);
}

@font-face {
font-family: NeueHaas-Medium;
src: url(css/fonts/NeueHaasDisplay-Mediu.ttf);
}


@font-face {
font-family: NeueHaas-MediumItalic;
src: url(css/fonts/NeueHaasDisplay-MediumItalic.ttf);
}

@font-face {
font-family: NeueHaas-Roman;
src: url(css/fonts/NeueHaasDisplay-Roman.ttf);
}

@font-face {
font-family: NeueHaas-RomanItalic;
src: url(css/fonts/NeueHaasDisplay-RomanItalic.ttf);
}

@font-face {
font-family: NeueHaas-ThinItalic;
src: url(css/fonts/NeueHaasDisplay-ThinItalic.ttf);
}

body {
  margin: 0;
}

.header {
background: #fefff4;
font-family: NeueHaas-BoldItalic;
font-size: 35px;
color: black;
height: 100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.savoirfaire {
background: black;
color:#fefff4;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

#title {
font-family: NeueHaas-BoldItalic;
font-size: 35px;
text-decoration: none;
background: linear-gradient(to top, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
transition: background-size .5s;
}

#title:hover {
background-size: 100% 100%;
}
