@font-face {
font-family: NeueHaas-Black;
src: url(css/fonts/NeueHaasDisplay-Black.ttf);
}

@font-face {
font-family: NeueHaas-BlackItalic;
src: url(css/fonts/NeueHaasDisplay-BlackItalic.ttf);
}

@font-face {
font-family: NeueHaas-BoldItalic;
src: url(css/fonts/NeueHaasDisplay-BoldItalic.ttf);
}

@font-face {
font-family: NeueHaas-Light;
src: url(css/fonts/NeueHaasDisplay-Light.ttf);
}

@font-face {
font-family: NeueHaas-LightItalic;
src: url(css/fonts/NeueHaasDisplay-LightItalic.ttf);
}

@font-face {
font-family: NeueHaas-Medium;
src: url(css/fonts/NeueHaasDisplay-Mediu.ttf);
}


@font-face {
font-family: NeueHaas-MediumItalic;
src: url(css/fonts/NeueHaasDisplay-MediumItalic.ttf);
}

@font-face {
font-family: NeueHaas-Roman;
src: url(css/fonts/NeueHaasDisplay-Roman.ttf);
}

@font-face {
font-family: NeueHaas-RomanItalic;
src: url(css/fonts/NeueHaasDisplay-RomanItalic.ttf);
}

@font-face {
font-family: NeueHaas-ThinItalic;
src: url(css/fonts/NeueHaasDisplay-ThinItalic.ttf);
}

body {
  margin: 0;
}

.header {
background: #fefff4;
font-family: NeueHaas-BoldItalic;
font-size: 35px;
color: black;
height: 100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.savoirfaire {
background: black;
color:#fefff4;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

@keyframes souligne {
  from {background: linear-gradient(to top, rgba(255, 138, 250, 1) 0%, rgba(255, 138, 250, 1) 40%, transparent 40.01%) no-repeat left bottom / 0 100%;}
  to {background: linear-gradient(to top, rgba(255, 138, 250, 1) 0%, rgba(255, 138, 250, 1) 40%, transparent 40.01%) no-repeat left bottom / 100% 100%;}
}

#title {
font-family: NeueHaas-BoldItalic;
font-size: 45px;
text-decoration: none;
animation: souligne infinite;
animation-duration: 1s;
animation-fill-mode: forwards;
color: #fff51f;
}

.liste-savoir {
font-family: NeueHaas-Medium;
font-size: 50px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}

.liste-savoir p {
font-size: 4vw;
margin:20px;
}

.liste-savoir p:hover {
color: rgba(255, 138, 250, 1);
}

.pourquoi {
background: #fefff4;
color: black;
height: 40vh;
display: inline-flex;
justify-content: center;
align-items: center;
}

.pourquoi-chopchop {
font-family: NeueHaas-BoldItalic;
font-size: 45px;
margin: 5vw;
text-decoration: none;
animation: souligne infinite;
animation-duration: 1s;
animation-fill-mode: forwards;
}

.txt-pourquoi-chopchop {
font-family: NeueHaas-Medium;
font-size: 18px;
}
